@font-face {
  font-family: 'SPQR';
  src:url('/fonts/SPQR.ttf.woff') format('woff'),
  url('/fonts/SPQR.ttf.svg#SPQR') format('svg'),
  url('/fonts/SPQR.ttf.eot'),
  url('/fonts/SPQR.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
