:root {
    --primary: #8A0000;
    --primary-hover: #570000;
    --black: black;
    --white: white;

    /* Fonts */
    --font-family-base: "Palatino";
    --headings-font-family: "SPQR";

    --font-size-base: 1.1rem;
    --line-height-base: 1.4;

    /* Buttons */
    --input-btn-font-family: var(--headings-font-family);
    --btn-font-family: var(--headings-font-family);
    --large-margin: 80px;
}

body {
    margin: 0;
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    font-weight: 400;
    line-height: var(--line-height-base);
    color: var(--black);
    text-align: left;
    background-color: var(--white);
}

html {
    font-family: var(--font-family-base), 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

@font-face {
    font-family: 'SPQR';
    src: url('/fonts/SPQR.ttf.woff') format('woff'),
    url('/fonts/SPQR.ttf.svg#SPQR') format('svg'),
    url('/fonts/SPQR.ttf.eot'),
    url('/fonts/SPQR.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}


.borderBox {
    border: 5px solid var(--primary);
    background: var(--white);
}

/* Helper classes from bootstrap */

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-family: var(--headings-font-family);
    font-weight: 500;
    line-height: 1.2;
}

.h1, h1 {
    font-size: 2.75rem;
}

.h2, h2 {
    font-size: 2.2rem;
}

.h3, h3 {
    font-size: 1.925rem;
}

.h4, h4 {
    font-size: 1.65rem;
}

.h5, h5 {
    font-size: 1.375rem;
}

.h6, h6 {
    font-size: 1.1rem;
}

@media (max-width: 767.98px) {
    .h2, h2 {
        font-size: 2rem;
    }
}

.text-primary {
    color: var(--primary) !important;
}

/**
    Manually added some bootstrap styling instead of requiring the entire bootstrap-grid.css

    As bootstrap-utilities.css is included, only what is not in there should be included here
 */

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 720px;
    }

    .offset-md-2 {
        margin-left: 16.66666667%;
    }
    .offset-md-3 {
        margin-left: 25%;
    }
    .col-md-2 {
        flex: 0 0 16.66666667%;
        max-width: 16.66666667%;
    }
    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-md-4 {
        flex: 0 0 33.33333333%;
        max-width: 33.33333333%;
    }

    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-8 {
        flex: 0 0 66.66666667%;
        max-width: 66.66666667%;
    }
}

@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 960px;
    }
}
